  .container{
    display: flex;
    flex-wrap: wrap;
  }
  
  .columna{
    flex:1;
    padding: 10px;
    border: 3px solid red;
    width: 100%;
  }

  
  

  @media (min-width:1024px){
        .columna{
            flex:1 1 30%
        }       
    }

    @media (max-width:1024px) and (min-width:768px){
        .columna{
            flex:1 1 47%
        }        
    }   
    
    @media (max-width:768px){
        .columna{
            flex:1 1 100%
        }        
    }